.slider-btn {
  padding: 16px 26px;
  border: none;
  background-color: #ffffff;
  position: absolute;
  right: 0;
  cursor: pointer;
  z-index: 5;
  bottom: -45px;
  outline: none;

  svg {
    stroke: #000;
  }

  &__left {
    right: 60px;
  }

  &:hover {
    background-color: #000;

    svg {
      stroke: #ffffff;
    }
  }
}

@media (max-width: 1150px) {
  .slider-btn {
    display: none !important;
  }
}