/*  colors  */
$main: #ffffff;
$active: #000000;

/*  font-size  */
$mobile-body-fs: 15px;
$desktop-body-fs: 17px;
$mobile-tittle-fs: 35px;
$desktop-tittle-fs: 44px;
$desktop-phone-fs: 16px;
$desktop-top-tittle-fs: 96px;
$mobile-top-tittle-fs: 40px;
$desktop-subtittle-fs: 24px;
$mobile-subtittle-fs: 40px;
$num-fs: 36px;
$mobile-box-title-fs: 21px;

/*  line-height  */
$mobile-body-lh:20px;
$desktop-body-lh:26px;
$mobile-tittle-lh: 45px;
$desktop-tittle-lh: 53px;
$desktop-phone-lh: 18px;
$desktop-top-tittle-lh: 115px;
$mobile-top-tittle-lh: 50px;
$desktop-subtittle-lh: 28px;
$mobile-subtittle-lh: 40px;
$num-lh: 41px;
$mobile-info-text: 18px;
$mobile-box-title-lh: 28px;
$mobile-item-text: 22px;

/*  resolution  */
$mobile: 768px;
$tablet: 1024px;


